<header>
    <nav class="navbar bg-red-800 shadow-lg">
        <div class="container mx-auto flex justify-between items-center" >
            <a routerLink="/index11" class="btn btn-ghost normal-case text-xl" >Favtoon</a>
            <div class="flex lg:hidden" >
                <button class="btn btn-square btn-ghost" data-collapse-toggle="navbar" >
                    <i class="bi bi-list" ></i>
                </button>
            </div>
            <div class="hidden lg:flex" >
                <ul class="menu menu-horizontal px-1 text-white">
                    <li><a routerLink="/index11">Home</a></li>
                    <li><a routerLink="/index11">Sobre</a></li>
                    <li><a routerLink="/index11">Contato</a></li>
                </ul>
            </div>
        </div>
        <div></div>
    </nav>
</header>
