<header>
    <nav class="navbar bg-red-800 shadow-lg text-white flex flex-col">
        <div class="container flex justify-around lg:justify-center items-center mx-auto my-auto h-15">
            <a routerLink="/act11" class="btn btn-ghost font-bold cursor-pointer text-4xl">Favtoon</a>
        </div>
        <div class="md:hidden tabs tabs-box bg-red-900 w-90 justify-around rounded-2xl">
            <input type="radio" name="tab_home" class="tab bg-red-800" id="tabHome" aria-label="Home" checked="checked" />
            <input type="radio" name="tab_profile" class="tab" id="tabProfile" aria-label="Profile" />
        </div>
    </nav>
</header>
