<footer class="footer primary">
    <div class="container">
        <div class="footer-content">
            <div class="footer-main">
                <div class="footer-section">
                    <h3>About us</h3>
                    <p>This application aims to store your favorite animations that you have already watched.</p>
                </div>
                <div class="footer-section">
                    <h3>Contact us</h3>
                    <a href="mailto:support&#64;favtoon.app">support&#64;favtoon.app</a>
                    <P></P>
                </div>
                <div class="footer-section">
                    <h3>Download app</h3>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="">
                    <p>&copy; 2025 Favtoon. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>