<div class="container">
  <div class="form-container">
    <div class="header">
      <button class="btn-back" (click)="goBack()">
        <span>←</span> Back
      </button>
    </div>
    <h1 class="title primary">Change Password</h1>
    
    <form class="form" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      
      <div *ngIf="errorMessage" class="error-text" [innerHTML]="errorMessage"></div>
      
      <div *ngIf="successMessage" class="message success-message">
        {{ successMessage }}
      </div>

      <div class="form-group">
        <input 
          type="password" 
          class="input-form"
          placeholder="Current password"
          formControlName="currentPassword"
          [ngClass]="{ 'invalid-input': passwordForm.get('currentPassword')?.invalid && (passwordForm.get('currentPassword')?.dirty || passwordForm.get('currentPassword')?.touched) }"
        />
        <div *ngIf="passwordForm.get('currentPassword')?.invalid && (passwordForm.get('currentPassword')?.dirty || passwordForm.get('currentPassword')?.touched)" class="error-text">
          Current password is required.
        </div>
      </div>

      <div class="form-group">
        <input 
          type="password" 
          class="input-form"
          placeholder="New password"
          formControlName="newPassword"
          [ngClass]="{ 'invalid-input': passwordForm.get('newPassword')?.invalid && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched) }"
        />
        <div *ngIf="passwordForm.get('newPassword')?.errors?.['required'] && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)" class="error-text">
          New password is required.
        </div>
        <div *ngIf="passwordForm.get('newPassword')?.errors?.['pattern'] && (passwordForm.get('newPassword')?.dirty || passwordForm.get('newPassword')?.touched)" class="error-text">
          <span>
            <ul>
              <li>Password must be at least 8 characters long.</li>
              <li>Must contain at least one uppercase letter.</li>
              <li>Must contain at least one lowercase letter.</li>
              <li>Must contain at least one number.</li>
            </ul>
          </span>
        </div>
      </div>

      <div class="form-group">
        <input 
          type="password" 
          class="input-form"
          placeholder="Confirm password"
          formControlName="confirmPassword"
          [ngClass]="{ 'invalid-input': (passwordForm.get('confirmPassword')?.invalid && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)) || (passwordForm.errors?.['notMatching'] && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)) }"
        />
        <div *ngIf="passwordForm.get('confirmPassword')?.errors?.['required'] && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)" class="error-text">
          Confirm password is required.
        </div>
        <div *ngIf="passwordForm.errors?.['notMatching'] && (passwordForm.get('confirmPassword')?.dirty || passwordForm.get('confirmPassword')?.touched)" class="error-text">
          Passwords do not match.
        </div>
      </div>

      <div class="form-group">
        <button 
          type="submit" 
          class="btn primary"
          [disabled]="passwordForm.invalid || isLoading"
        >
          {{ isLoading ? 'Changing...' : 'Change Password' }}
        </button>
      </div>

    </form>
  </div>
</div>
