<div class="profile" [formGroup]="profileForm">
    <h2 class="title primary">Profile</h2>

    <div class="profile-image">
        <img *ngIf="avatarUrl" [src]="avatarUrl" alt="Avatar do usuário">
        <div class="btn-container">
            <button class="image-btn">&#10009;</button>
        </div>
    </div>   

    <div class="input-profile">
        <input 
            type="text"
            id="name"
            name="name"
            placeholder="Name"
            formControlName="name"
        >
        <div class="divisor"></div>
        <button (click)="startEdit('name')">&#9998;</button>
    </div>

    <div class="input-profile" [ngClass]="{'error': usernameValidationClass === 'error', 'success': usernameValidationClass === 'success'}">
        <input 
            type="text"
            id="username"
            name="username"
            placeholder="@username"
            formControlName="username"
            (input)="onUsernameInput($event)"
            [class.error]="usernameValidationClass === 'error'"
            [class.success]="usernameValidationClass === 'success'"
        >
        <div class="divisor" [ngClass]="{'error': usernameValidationClass === 'error', 'success': usernameValidationClass === 'success'}"></div>
        <button (click)="startEdit('username')" [ngClass]="{'error': usernameValidationClass === 'error', 'success': usernameValidationClass === 'success'}">&#9998;</button>
    </div>
    <div *ngIf="usernameValidationMessage && editingField === 'username'" 
         class="validation-message" 
         [ngClass]="{'error-message': usernameValidationClass === 'error', 'success-message': usernameValidationClass === 'success'}">
        {{ usernameValidationMessage }}
    </div>

    <div class="input-profile">
        <input 
            type="password"
            id="password"
            name="password"
            placeholder="• • • • • •"
            [disabled]="true"    
        >
        <div class="divisor"></div>
        <button (click)="chanchePassword()">&#9998;</button>
    </div>

    <div *ngIf="isEditing" class="edit-buttons">
        <button class="btn cancel" (click)="cancelEdit()">Cancel</button>
        <button class="btn success" (click)="saveEdit()">Save</button>
    </div>
    <button class="btn danger" *ngIf="!isEditing" (click)="logout()">Exit</button>
</div>