<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="errorMessage" class="error-text" [innerHTML]="errorMessage"></div>

    <div class="form-group">
        <label for="image" id="imageLabel" class="btn primary">
            <span *ngIf="!imagePreview">Select Image</span>
            <span *ngIf="imagePreview">Change Image</span>
        </label>

        <input 
            type="file"
            id="image"
            (change)="onFileSelected($event)"
            accept="image/*"
            aria-labelledby="imageLabel"
            hidden
        />
    </div>
    
    <div class="form-group">
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Preview" class="selected-img"/>
    </div>

    <div class="form-group">       
        <input
            formControlName="title"
            type="text"
            id="title"
            placeholder="Title. . ."
            [ngClass]="{ 'invalid-input': form.get('title')?.invalid && (form.get('title')?.dirty || form.get('title')?.touched) }"
            required
        >
        <div *ngIf="form.get('title')?.errors?.['required'] && (form.get('title')?.dirty || form.get('title')?.touched)" class="error-text">
            Title is required.
        </div>
    </div>

    <div class="form-group">
        <select
            class="form-select"
            formControlName="year"
            id="year"
            name="year"
            [ngClass]="{ 'invalid-input': form.get('year')?.invalid && (form.get('year')?.dirty || form.get('year')?.touched) }"
            required
        >
            <option *ngFor="let year of years" [value]="year" >{{ year }}</option>
        </select>
        <div *ngIf="form.get('year')?.errors?.['required'] && (form.get('year')?.dirty || form.get('year')?.touched)" class="error-text">
            Year is required.
        </div> 
    </div>

    <div class="form-group">
        <input
            formControlName="genre"
            type="text"
            id="genre"
            placeholder="Genre. . ."
            [ngClass]="{ 'invalid-input': form.get('genre')?.invalid && (form.get('genre')?.dirty || form.get('genre')?.touched) }"
        >
        <div *ngIf="form.get('genre')?.errors?.['required'] && (form.get('genre')?.dirty || form.get('genre')?.touched)" class="error-text">
            Genre is required and must be a comma-separated list.
        </div>
    </div>

    <div class="form-group">
        <input
            formControlName="seasons"
            min="1"
            max="100"
            type="number"
            id="seasons"
            placeholder="1"
            [ngClass]="{ 'invalid-input': form.get('seasons')?.invalid && (form.get('seasons')?.dirty || form.get('seasons')?.touched) }"
        >
        <div *ngIf="form.get('seasons')?.errors?.['required'] && (form.get('seasons')?.dirty || form.get('seasons')?.touched)" class="error-text">
            Number of seasons is required and must be a positive integer.
        </div>
    </div>

    <div class="form-group">
        <input
            formControlName="synopsis"
            type="text"
            id="synopsis"
            placeholder="Synopsis. . ."
            [ngClass]="{ 'invalid-input': form.get('synopsis')?.invalid && (form.get('synopsis')?.dirty || form.get('synopsis')?.touched) }"
        >
        <div *ngIf="form.get('synopsis')?.errors?.['required'] && (form.get('synopsis')?.dirty || form.get('synopsis')?.touched)" class="error-text">
            Synopsis is required.
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn primary" [disabled]="form.invalid">Add Serie</button>
    </div>
</form>