.invalid-input {
    border-color: var(--danger);

    &:focus {
        border-color: var(--danger);
    }
}

.warning {
    color: var(--danger);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.password-options {
    font-size: 12px;
    text-align: start;
    color: var(--danger);
}