.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

.footer-content {
    color: var(--secondary);
    text-align: center;
    width: 90%;
}

.footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid var(--secondary);

    .footer-section {
        //margin: auto 4%;
        a {
            text-decoration: none;
            color: var(--secondary);
        }
    }
}

@media (max-width: 659px) {

    .footer-main {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--secondary);

    .footer-section {
        a {
            text-decoration: none;
            color: var(--secondary);
        }
    }
}
}